html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

th, td {
    vertical-align: top;
    /*text-align: left;*/
}

#map {
    width: 58%;
    height: 100%;
	border-top-style: none;
	border-top-color: black;
	border-right-style: solid;
	border-right-color: black;
	border-width: 1px;
	position: relative;
	float: left;
	
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;   
    height: auto;
    width: auto;
    min-width: 200px;
    max-height:400px;  
    overflow: auto;      
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "X";
}

.ol-attribution a {
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
}

#popup-content>ul>li:nth-child(even) {
    background-color: #eee;
}

#popup-content ul {
    list-style-type: none;
    padding-left: 0;
}

#popup-content li {
    margin-bottom:0.25em;
}


a.one:link {
	color: #E8702A;
	font-size: 24px;
	font-weight:100;
	font-style:normal;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration:none;
}

a.one:visited {
	color: #E8702A;
	font-size: 24px;
	font-weight:100;
	font-style:normal;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration:none;
	
	
}

a.one:hover {color: #ffffff;
	font-size: 24px;
	font-weight:100;
	font-style:normal;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration:none;
}

h1 {
	letter-spacing: 6px;
	text-align: center;
}

#title {
	height: auto;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

#container {
	position: abolute;
	height: calc(100% - 134px);
}

#text {
	position: relative;
	float: right;
	width: 38%;
	border-top-style: none;
	border-top-color: black;
	border-width: 1px;
	padding-right: 2%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	
}

#imgcontainer{
	position: absolute;
	width: 100%;
	
	
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

h2 {
	text-align: center;
	
	
}

p {
	font-family: "Georgia, serif";
	font-size: large;
	line-height: 1.2;
	padding-right: 20px;
}